<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
    <link rel="stylesheet" href="/styles/style-single.css">
</head>
<body>
    <nav>TASK MANAGER APP</nav>
    <div class="maincontainer">
    <div class="container">
        <h1>Task Details</h1>
        <p><strong>Task:</strong> <%= task.task %></p>
        <div class="status">
            <%= taskStatus %>
        </div>
        <a href="/tasks">Back to Task List</a>
    </div>
</div>
    <footer>
        <h3>Created by Ossai Mark</h3>
    </footer>
</body>
</html>
